@tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind variants;

@layer base {
    html {
        padding: 0 !important;
    }
    body {
        background-color: #121212;
        font-family: 'Roboto Flex', sans-serif;
    }

    pre {
        padding: 0.5rem 1rem;
        background-color: #383838;
        border-radius: 4px;
        white-space: pre-wrap;
    }
}

/* highlighting */
::selection {
    background: #41a75b; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #41a75b; /* Gecko Browsers */
  }

/* BG Animation */
  #bg-animation {
    display: none;
}

@media screen and (min-width: 600px) {
    #bg-animation {
        display: block;
    }
}
@media screen and (min-width: 2000px) {
    #bg-animation {
        display: none;
    }
}



/* Scroll Down Animation */
.scroll-downs {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    width :28px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 8px;
    height: 28px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }