.reactMarkDown {
  font-size: 18px;
}

.reactMarkDown p {
  margin-bottom: 1rem;
}

.reactMarkDown h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.8rem 0;
}

.reactMarkDown h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0.6rem;
}

.reactMarkDown h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0.4rem 0;
}

.reactMarkDown h4 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0.4rem 0;
}

.reactMarkDown a {
  color: #41a75b;
  transition: 0.2s ease;
}

.reactMarkDown a:hover {
  color: #368e4c;
}

.reactMarkDown img {
  border-radius: 0.25rem;
  margin: 0 auto;
}

.reactMarkDown ul {
  list-style-type: circle;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.reactMarkDown ol {
  list-style-type: decimal;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .reactMarkDown p {
    margin-bottom: 1.2rem;
  }

  .reactMarkDown ul, .reactMarkDown ol {
    padding: 0 5rem;
  }
}